header {
    border: 1px solid red;
    display: flex;
    align-items: center;
    justify-content: center;

}

.header.h1 {
    font-size: 7%;

}

.container {
    max-width: 50%;
    background-color: aquamarine;
    border: 1px solid red;
    height: 60vh;
    margin: auto;
    overflow: auto;

}

.msg {
    background-color: rgb(117, 83, 83);
}

.left {
    border: 1px solid red;
    border-radius: 10px;
    margin: 2% 2%;
    padding: 1%;
    float: left;
    clear: both;
}



.middle {
    border: 1px solid red;
    border-radius: 10px;
    margin: 2% 2%;
    padding: 1%;
    clear: both;
    text-align: center;
    /* position: absolute; */
}

.right {
    border: 1px solid red;
    border-radius: 10px;
    margin: 2% 2%;
    padding: 1%;
    float: right;
    clear: both;

}

#send-container {
    display: block;
    margin: auto;
    text-align: center;
    /* max-width: 40%; */
}

#msginp {
    margin: 4px;
    padding: 2px;
    border-radius: 4px;
    width: 42%;

}

.btn {
    cursor: pointer;
    margin: 4px;
    padding: 2px;
    border-radius: 4px;
    width: 5%;
}